*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* HEADER CONTENT */
body{
  background-color: rgb(13, 13, 13);
}


.img{
	background-color: rgba(240, 248, 255, 0.003);
	display: flex;
	width: 38%;
	position: absolute;
	height: 10%;
    margin: 2px 20px;
}
.logo{
    background-color: rgba(0, 255, 255, 0.008);
    width: 28%;
    height: 110%;
}

.brand{
    color: rgb(222, 217, 222);
    width: 100%;
    height: 110%;
    background-color: rgba(255, 0, 212, 0);
    margin: 15px 20px;
    font-size: 3rem;
    padding-top: 5px;
    text-shadow: 1px -2px 6px rgb(235, 9, 9);;
}
#navbar{
    
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right, #be4625, #542D0C);
}

#navbar ul{
    
    float: right;
    margin-right: 5%;
}

#navbar ul li{
    list-style: none;
    
    display: inline-block;
    margin: 25px 35px;
    line-height: 15px;
}

#navbar ul li a{
  position: relative;
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Source Serif Pro', serif;
	background-color: rgba(255, 0, 123, 0);
	font-size: 19px;
    padding: 10px 0px;
	text-transform: uppercase;
}

#navbar ul li::after{
  content: "";
  display: block;
  background-color: orangered;
  margin-top: 5px;
  height: 2px;
  transform: scaleX(0);
  transition: transform 300ms;
}
#navbar ul li:hover::after{
  transform: scaleX(1);
}
#navbar ul li a:hover{
  color: rgb(255, 153, 0);
}
#navbar ul li a:hover:after{

  width: 100%;
}
#navbar ul li:nth-child(4){
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
    line-height: 40px;
    font-family: 'Source Serif Pro', serif;
	background-color: orangered;
	font-size: 16px;
    padding: 0px 10px;
	text-transform: uppercase;
    
}
#navbar ul li:nth-child(4):hover {
  box-shadow: 0px 0.1em 0.2em rgba(123, 43, 16, 0), 0px 0.4em 0.7em -0.1em rgba(184, 141, 12, 0.825);
  transform: translateY(-0.1em);

 }
/* HEADER CONTENT */

.build{
    background-color: rgba(127, 255, 212, 0.019);
    width: 100%;
    height: 550px;
    border-radius: 0 0px 400px 400px;
    z-index: 4;
}



#contact{
    background-color: rgb(13, 13, 13);
    width: 100%;
    height: 550px;
    margin-top: 10px;
}

.container1 {
    margin: 0px auto;
    width: 100%;
    height: 550px;
    border-radius: 0 0px 400px 400px;
    overflow: hidden;
    border: 10px solid;
    border-top-color: #856036;
    border-left-color: #5d4426;
    border-bottom-color: #856036;
    border-right-color: #5d4426;
    position: relative;
  }

  .photo {
    width: 100%;
    height: 550px;
    position: absolute;
    animation: round 16s infinite;
    opacity: 0;
  }
  @keyframes round {
    25% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
  }

  img:nth-child(1) {
    animation-delay: 12s;
  }
   
  img:nth-child(2) {
    animation-delay: 8s;
  }
   
  img:nth-child(3) {
    animation-delay: 4s;
  }
   
  img:nth-child(4) {
    animation-delay: 0s;
  }

  ::-webkit-scrollbar{
      width:0px;
     
    }

/*footer section */

.footer-section {
  background: #e00b0b;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-section .grid-container{
  display: grid;
  width: 80%;
  grid-template-columns: auto auto auto;
  background-color: #1a180f;
  padding: 10px;
  column-gap: 10px;
  margin-left: 150px;
  border-bottom: 1px solid rgb(127, 119, 119);
}


.grid-container .grid-item{
  background-color: rgba(22, 18, 18, 0.8);
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-container .part2{
  border-left: 1px solid orangered;
  border-right: 1px solid orangered;
}

.copyright-area{
  background: #202020;
  padding: 25px 0;
  position: relative;
}
.copyright-text p {
  margin: 0px 150px;
  font-size: 14px;
  
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu{
  
  right: 10%;
  top: 37%;
  position: absolute;
}
.footer-menu li {
  
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.socialmedia{
  width: 100%;
  height: 45vh;
  background-color: #15e5e5;
}


.about{
  background: linear-gradient(10deg, #15e5e5 0%, #1123e6 100%);
  width: 100%;
  height: 750px;
  margin-top: 10px;
  position: relative;
}

/* .main {
  border: 10px solid red;
  height: 80%;
  width: 100%;
  position: absolute;
  top: 10%;
}
.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.slide .image {
  height: 100%;
  width: 100%;
  object-fit: fit;
}
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff;
  background-color: #c87e4f;
}

/* swiper button css */
/* .nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}

@media screen and (max-width: 768px) {
  .nav-btn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
} */ 
/* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

section{
  position: relative;  
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}

.swiper{
  width: 950px;
}

.card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #7d2ae8;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section .card .image{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #7d2ae8;
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card .media-icons{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i{
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover{
  opacity: 1;
}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: black;
} 

.name-profession .name{
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession{
  font-size:15px;
  font-weight: 500;
}

.card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: #7d2ae8;
}

.card .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button{
  background: #7d2ae8;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover{
  background: #6616d0;
}

.swiper-pagination{
  position: absolute;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #7d2ae8;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #7d2ae8;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #7d2ae8;
}