@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

.firstinfo,
body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.content1 {
    padding: 10px 0px;
    position: relative;
    top: 100px;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card1 {
    width: 1000px;
    min-height: 100px;
    padding: 20px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background-color: rgb(254, 255, 254);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.card1:after {
    content: "";
    display: block;
    width: 190px;
    height: 300px;
    background: rgb(24, 15, 184);
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.firstinfo {
    justify-content: flex-start;
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.firstinfo img {
    
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.firstinfo .profileinfo {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    
}

.firstinfo .profileinfo h1 {
    font-size: 1.8em;
    padding: 0px 20px;
}

.firstinfo .profileinfo h3 {
    font-size: 1.8em;
    color: #001e96;
    font-style: italic;
    padding: 0px 20px;
}

.firstinfo .profileinfo p.bio {
    padding: 10px 0px;
    color: #1a1a1a;
    line-height: 1.2;
    font-style: initial;
}


.text1{
    
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    width: 100px;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    background: #1835b7ee;
    color: #fafafa;
    font-weight: 600;
    z-index: 5;
    padding: 0px 20px;
   }
   
   .text1:hover {
    background: #212121;
    color: #ffffff;
   }

@keyframes animatop {
    0% {
        opacity: 0;
        bottom: -500px;
    }

    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes animainfos {
    0% {
        bottom: 10px;
    }

    100% {
        bottom: -42px;
    }
}

@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }

    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}