
/* builderbit */

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Roboto+Slab:wght@500&display=swap');

  /* css for builderbittable */

  .buildertable2{
    margin-left: 180px;
    margin-right: 50px;
    width: 100vw;
  }
  .bittabletable2, .bitrow2{
    border:1px solid black;
    padding: 10px;
    background: linear-gradient(0deg, #e9e9eb 0%, #56a9ed 100%);
    
    
  }