<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Builder Gallery</title>
    <link rel="stylesheet" href="/static/gallery.css">
    <link rel="stylesheet" href="/static/userbit.css">
    <!-- <link rel="stylesheet" href="/static/gallery.css"> -->

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

    {%include 'builderdash.html'%}

    <div class="container1">
        <header>Construction Details</header>

        <form action="{{ url_for('buildergallery', id=id) }}" method="POST" enctype="multipart/form-data">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Building Details</span>

                    <div class="fields">

                        <div class="input-field">
                            <span>Location</span>
                            <input type="text" placeholder="Enter your location" name="location" id="location" required>
                        </div>
                        <div class="input-field">
                            <span>Land size in squarefeet</span>
                            <input type="number" placeholder="Land size in squarefeet" name="sqft" id="sqft" required>
                        </div>
                        <div class="input-field">
                            <span>Building Type</span>
                            <select name="build_type" id="build_type" required>
                                <option disabled selected>Select</option>
                                <option>Residential buildings/Apartments</option>
                                <option>Commercial buildings</option>
                                <option>Single-family detached house</option>
                                <option>Bungalow </option>
                            </select>
                        </div>
                        <div class="input-field">
                            <span>Budget</span>
                            <input type="number" placeholder="Budget" name="budget" id="budget" required>
                        </div>
                        <div class="input-field">
                            <span for="options">Rooms</span>
                            <input type="number" placeholder="Rooms" name="room" id="room" required>
                        </div>
                        <div class="input-field">
                            <span for="options">Upload Image</span>
                            <input type="file" name="image" id="image" required>
                        </div>
                        <div class="input-field">
                            <span>Building Status</span>
                            <select name="status" id="status" required>
                                <option disabled selected>Select</option>
                                <option>In-progress</option>
                                <option>completed</option>
                            </select>
                        </div>
                        <div class="msg">
                            <span>
                                    <center><h4>{{a}}</h4></center>
                            </span>
                        </div>
                        <button class="nextBtn">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                        <!-- <button class="nextBtn1"> -->
                        
                    </div>
                </div>


            </div>
        </form>


        <div class="wrapper2">



            {% if data %}
            <div class="gallery" id="imageview">
                {% for row in data %}
                <div class="image"><span><img src="/static/image/{{ row }}" alt="image" width="100" height="100"></span>
                </div>
                <!-- <div class="image"><span><img src="/static/img16.jpg" alt=""></span></div>
            <div class="image"><span><img src="/static/img17.jpg" alt=""></span></div>
            <div class="image"><span><img src="/static/img18.jpg" alt=""></span></div>
            <div class="image"><span><img src="/static/img19.jpg" alt=""></span></div>
            <div class="image"><span><img src="/static/img20.jpg" alt=""></span></div> -->
                {% endfor %}
            </div>
            {% else %}
            <span>
                <h4>{{msg}}</h4>
            </span>
            {% endif %}
        </div>
    </div>


    <script src="/js/gallery.js"></script>


</body>

</html>