{% extends 'builderdash.html' %}
{% block content %}

<div class="popup">
    <form class="form">
        <div class="icon">
            <span>Requirement form</span>
        </div>
        <div class="sub">
            <div class="branch">
                <div class="note">
                    <label class="title">Name</label>
                    <span>{{acc1[2]}}</span>
                </div>
                <div class="note">
                    <label class="title">Email</label>
                    <span>{{acc1[3]}}</span>
                </div>
                <div class="note">
                    <label class="title">Location</label>
                    <span>{{acc1[4]}}</span>
                </div>
                <div class="note">
                    <label class="title">Mobile Number</label>
                    <span>{{acc1[5]}}</span>
                </div>
                <div class="note">
                    <label class="title">Address</label>
                    <span>{{acc1[6]}}</span>
                </div>
                <div class="note">
                    <label class="title">Approval</label>
                    <span>{{acc1[7]}}</span>
                </div>
                <div class="note">
                    <label class="title">Timeline</label>
                    <span>{{acc1[8]}}</span>
                </div>
                <div class="note">
                    <label class="title">Land size in squarefeet</label>
                    <span>{{acc1[9]}}</span>
                </div>
                <div class="note">
                    <label class="title">Budget</label>
                    <span>{{acc1[10]}}</span>
                </div>
                <div class="note">
                    <label class="title">Building Type</label>
                    <span>{{acc1[11]}}</span>
                </div>
            </div>
            <div class="branch1">
                <div class="note">
                    <label class="title">Rooms Count</label>
                    <span>{{acc1[12]}}</span>
                </div>
                <div class="note">
                    <label class="title">Bricks</label>
                    <span>{{acc1[13]}}</span>
                </div>
                <div class="note">
                    <label class="title">Steel</label>
                    <span>{{acc1[14]}}</span>
                </div>
                <div class="note">
                    <label class="title">Cement</label>
                    <span>{{acc1[15]}}</span>
                </div>
                <div class="note">
                    <label class="title">Sand</label>
                    <span>{{acc1[16]}}</span>
                </div>
                <div class="note">
                    <label class="title">Wood</label>
                    <span>{{acc1[17]}}</span>
                </div>
                <div class="note">
                    <label class="title">Plumbing</label>
                    <span>{{acc1[18]}}</span>
                </div>
                <div class="note">
                    <label class="title">Wires and cables</label>
                    <span>{{acc1[19]}}</span>
                </div>
                <div class="note">
                    <label class="title">Flooring</label>
                    <span>{{acc1[20]}}</span>
                </div>
                <div class="note">
                    <label class="title">Sanitary Items</label>
                    <span>{{acc1[21]}}</span>
                </div>
                <div class="note">
                    <label class="title">Paint</label>
                    <span>{{acc1[22]}}</span>
                </div>
            </div>

        </div>
        <div class="bit">
            <label class="title">Bid :</label>
            <label class="search-label">
                <input type="number" name="bitamount" required="" placeholder="Enter your amount...">
            </label>
        </div>
        <button class="submit">Proceed to Bit</button>
    </form>
</div>
<script>
    const submitBtn = document.querySelector('.submit');
    const bitElement = document.querySelector('.bit');

    submitBtn.addEventListener('click', () => {
        bitElement.style.display = 'block';
    });

</script>
{% endblock %}