<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Builder Dashboard</title>
  <link rel="stylesheet" href="/static/navd.css">
  <link rel="shortcut icon" href="/static/logo1.png" type="image/x-icon">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="https://kit.fontawesome.com/b949337282.js" crossorigin="anonymous"></script>
</head>

<body class="body">
  <div class="sidebar">
    <div class="logo-details">
      <img class="icon" src="/static/logo1.png" alt="">
      <div class="logo_name">Future Haus</div>
      <input type="checkbox" id="btn">
      <label class=" button cancel" for="btn"><i class="fa fa-arrow-left" aria-hidden="true"></i></label>
      
      <label class="button bars" for="btn"><i class="fas fa-bars"></i></label>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/builderdash">
          <i class="fas fa-user-circle"></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-edit"></i>
          <span class="links_name">Client</span>
        </a>
        <span class="tooltip">Client</span>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-comments"></i>
          <span class="links_name">Messages</span>
        </a>
        <span class="tooltip">Messages</span>
      </li>
      <li>
        <a href="{{ url_for('buildergallery', id=id) }}">
          <i class="fas fa-images"></i>
          <span class="links_name">Gallery</span>
        </a>
        <span class="tooltip">Gallery</span>
      </li>
      <li>
        <a href="{{ url_for('material', id=id) }}">
          <i class="fas fa-tools"></i>
          <span class="links_name">Materials</span>
        </a>
        <span class="tooltip">Materials</span>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-chart-pie"></i>
          <span class="links_name">Saved</span>
        </a>
        <span class="tooltip">Saved</span>
      </li>
      <li class="mode">
        <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
        </div>
        <span class="mode-text links_name">Dark mode</span>

        <div class="toggle-switch">
            <span class="switch"></span>
        </div>
      </li>
      <li class="profile">
        <div class="profile-details">
          <img src="/static/images/{{ image }}" alt="profileImg">
          <div class="name_job">
            <div class="name">{{ name }}</div>
            <div class="job">{{ comp }}</div>
          </div>
        </div>
        <a href="/logout"><i class='bx bx-log-out' id="log_out"></i></a>

      </li>
    </ul>
  </div>
  <!-- <section class="home-section">
    <h1 style="z-index: 5;">Builder dashboard</h1>
  </section> -->
  <script>
    const body = document.querySelector('body');
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let modeSwitch = document.querySelector(".toggle-switch"),
        modeText = document.querySelector(".mode-text");
    
    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      menuBtnChange();//calling the function(optional)
    });
    
    
modeSwitch.addEventListener("click" , () =>{
    body.classList.toggle("dark");
    
    if(body.classList.contains("dark")){
        modeText.innerText = "Light mode";
    }else{
        modeText.innerText = "Dark mode";
        
    }
});
    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
      if (sidebar.classList.contains("open")) {
        closeBtn.classList.replace("fa-arrow-left", "fa-bars");//replacing the iocns class
      } else {
        closeBtn.classList.replace("fa-bars", "fa-arrow-left");//replacing the iocns class
      }
    }
  </script>
  
</body>

</html>