<!DOCTYPE html>
<html>
    <head>
        <title>Messages</title>
    </head>
    <body>
        <h1>Messages</h1>
			{%if messages %}
            {% for message in messages %}
            <p>[({{ message[3] }}) {{ message[0] }} {{ message[1] }}]: {{ message[2] }}</p>
            {% endfor %}
			{% else %}
        <span>
            <h4>No Message</h4>
        </span>
        {% endif %}
		<form action="{{ url_for('send_message', id = id) }}" method="post">
            <label for="message">Message:</label>
            <input type="text" id="message" name="message">
            <button type="submit">Send</button>
        </form>
    </body>
</html>