<!DOCTYPE html>
<html>
    <head>
        <title>Messages</title>
    </head>
    <body>
        <h1>Messages</h1>
            {% for message in message %}
            {% if (message.sender_id or message.receiver_id) != session.id %}
            <div class="" style="text-align:right; padding:2px 5px;">
                <p>
                    <span class="" style="background-color: #28a7ab;color: #fff;margin: 1px 0;padding: 6px 12px; border-radius: 12px;"> {{message.message}}</span>
                </p>
            </div>
        {% else %}
            <div class="" style="text-align:left; padding:2px 5px;">
                <p>
                    <span class="" style="background-color: #dd92b2;color: #fff;margin: 1px 0;padding: 6px 12px; border-radius: 12px;"> {{message.message}}</span>
                </p>
            </div>
        {% endif %}
            {% endfor %}
			
		<form action="{{ url_for('usermessage', id = id, builder = builder) }}" method="post">
            <label for="message">Message:</label>
            <input type="text" id="message" name="message">
            <button type="submit">Send</button>
        </form>
    </body>
</html>