<!DOCTYPE html>
<html>

<head>
	<title>Message</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
	
	<style type="text/css">
		nav {
			background-color: #1123e6;
			background-image: linear-gradient(315deg, #1123e6 0%, #1123e6 74%);
			color: white;
		}

		.nav-tabs li a {
			color: white;
		}

		.nav-tabs {
			text-align: center;
			width: 100%;
		}

		.navbar {
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 0;
		}

		.list-group-item:hover {
			background-color: #DCDCDC;
		}

		.namelist {
			margin: 15px 30px 0 150px;
		}

		.prfimg {
			height: 50px;
			width: 50px;
			border-radius: 50px;
		}
	</style>
</head>

<body>
	{%include 'userdash.html'%}
	<div class="namelist">
		<ul class="nav nav-tabs nav-justified justify-content-center">
			<li class="nav-item">
				<h3 class="nav-link active" style="background-color: #1123e6; color: white;">Builder</h3>
			</li>
		</ul>
		</nav>
		<div class="card" style="width: 100%;">
			<ul id="channels_lists" class="list-group list-group-flush">
				{% for name in builder %}
				<div style="display: flex; padding: 5px;">
					<img class="prfimg" src="/static/images/{{ name[2] }}" alt="profile">
					<a style="color:black;text-decoration:none;cursor: pointer;" id="{{ name[1] }}"
						href="../usermessage/{{ id }}/{{ name[0] }}">
						<li class="list-group-item">{{ name[1] }}</li>

					</a>
				</div>
				{% endfor %}
			</ul>
		</div>
	</div>
</body>

</html>