<!DOCTYPE html>
<html>
    <head>
        <title>Messages</title>
    </head>
    <body>
        <h1>Messages</h1>
			{%if message %}
            {% for message in message %}
            <p>[({{ message.timestamp }}) {{ message.sender_id }} {{ message.receiver_id }}]: {{ message.message }}</p>
            {% endfor %}
			{% else %}
        <span>
            <h4>No Message</h4>
        </span>
        {% endif %}
		<form action="{{ url_for('message', id = id, user = user) }}" method="post">
            <label for="message">Message:</label>
            <input type="text" id="message" name="message">
            <button type="submit">Send</button>
        </form>
    </body>
</html>