<html>

<head>
    <title>E-Comm Website by Code Step By Step</title>
    <link href="/static/filter.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <button id="sidebar-toggle">
        Button
    </button>
    <div class="sidenav" id="sidebar">
        <div class="wid-25 arrange-left">
            <h3>Filter By Price</h3>

            <div class="custom-control-check">
                <label class="custom-control-label" for="300-above">Price</label>
                <input type="number" class="custom-control-input" id="300-above">

            </div>
            <h3>Filter By Location</h3>
            <div class="custom-control-check">
                <label class="custom-control-label" for="color-all">Location</label>
                <input type="input" class="custom-control-input" id="color-all">

            </div>

            <h3>Filter By Size</h3>

            <div class="custom-control-check">
                <label class="custom-control-label" for="xxl">Land size</label>
                <input type="" class="custom-control-input" id="xxl">

            </div>
            <h3>Rooms</h3>

            <div class="custom-control-check">
                <label class="custom-control-label" for="xxl">Rooms</label>
                <input type="number" class="custom-control-input" id="xxl">

            </div>
            <h3>Filter By Building Type</h3>

            <div class="custom-control-check">
                <label class="custom-control-label" for="xxl">Building Type</label>
                <select name="build_type" id="xxl" class="custom-control-input">
                    <option disabled selected>Select</option>
                    <option>Residential buildings/Apartments</option>
                    <option>Commercial buildings</option>
                    <option>Single-family detached house</option>
                    <option>Bungalow </option>
                </select>

            </div>
        </div>
    </div>

    
    <script>
        const sidebarToggle = document.getElementById('sidebar-toggle');
        const sidebar = document.getElementById('sidebar');
        sidebarToggle.addEventListener('click', function () {
    sidebar.classList.toggle('sidebar-hidden');
  });
    </script>
      
      
      
      
      
      

      
      
      
      
      
      
</body>

</html>