<html>

<head>
    <title>E-Comm Website by Code Step By Step</title>
    <link href="/static/filter.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="wrapper">
        <div class="wrapper next-row">
            <div class="sort-options">
                <select name="" id="">
                    <option value="1">By Name</option>
                    <option value="2">By Rating</option>
                    <option value="3">By Latest</option>
                </select>
            </div>
            <div class="wid-25 arrange-left">
                <h3>Filter By Price</h3>
                <div class="custom-control-check">
                    <input type="checkbox" class="custom-control-input" checked="" id="price-all">
                    <label class="custom-control-label" for="price-all">All Price</label>
                    <span class="filter-prod-count">1000</span>
                </div>
                <div class="custom-control-check">
                    <input type="checkbox" class="custom-control-input" checked="" id="0-100">
                    <label class="custom-control-label" for="0-100">$0 - $100</label>
                    <span class="filter-prod-count">100</span>
                </div>
                <div class="custom-control-check">
                    <input type="checkbox" class="custom-control-input" checked="" id="100-200">
                    <label class="custom-control-label" for="100-200">$100 - $200</label>
                    <span class="filter-prod-count">150</span>
                </div>
                <div class="custom-control-check">
                    <input type="checkbox" class="custom-control-input" checked="" id="200-300">
                    <label class="custom-control-label" for="200-300">$200 - $300</label>
                    <span class="filter-prod-count">160</span>
                </div>
                <div class="custom-control-check">
                    <input type="checkbox" class="custom-control-input" checked="" id="300-above">
                    <label class="custom-control-label" for="300-above">$300 - $above</label>
                    <span class="filter-prod-count">500</span>
                </div>
                <h3>Filter By Location</h3>
                <div class="custom-control-check">
                    <input type="input" class="custom-control-input" id="color-all">
                    <label class="custom-control-label" for="color-all">Location</label>
                    <span class="filter-prod-count">1000</span>
                </div>

                <h3>Filter By Size</h3>
                <div class="custom-control-check">
                    <input type="checkbox" class="custom-control-input" checked="" id="small">
                    <label class="custom-control-label" for="small">Small</label>
                    <span class="filter-prod-count">1000</span>
                </div>
                <div class="custom-control-check">
                    <input type="checkbox" class="custom-control-input" checked="" id="m">
                    <label class="custom-control-label" for="m">Medium</label>
                    <span class="filter-prod-count">140</span>
                </div>
                <div class="custom-control-check">
                    <input type="checkbox" class="custom-control-input" checked="" id="l">
                    <label class="custom-control-label" for="l">Large</label>
                    <span class="filter-prod-count">450</span>
                </div>
                <div class="custom-control-check">
                    <input type="checkbox" class="custom-control-input" checked="" id="xl">
                    <label class="custom-control-label" for="xl">Extra Large</label>
                    <span class="filter-prod-count">130</span>
                </div>
                <div class="custom-control-check">
                    <input type="checkbox" class="custom-control-input" checked="" id="xxl">
                    <label class="custom-control-label" for="xxl">XXL</label>
                    <span class="filter-prod-count">50</span>
                </div>
            </div>
</body>

</html>