<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Builder Gallery</title>
    <link rel="stylesheet" href="/static/gallery.css">
    <link rel="stylesheet" href="/static/userbit.css">
    <!-- <link rel="stylesheet" href="/static/gallery.css"> -->

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

    {%include 'builderdash.html'%}

    <div class="container1">
        <header>Filter</header>

        <form action="{{ url_for('buildergallery', id=id) }}" method="POST" enctype="multipart/form-data">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Building Details</span>

                    <div class="fields">

                        <div class="input-field">
                            <span>Location</span>
                            <input type="text" placeholder="Enter your location" name="location" id="location" >
                        </div>
                        <div class="input-field">
                            <span>Land size in squarefeet</span>
                            <input type="number" placeholder="Land size in squarefeet" name="sqft" id="sqft" >
                        </div>
                        <div class="input-field">
                            <span>Building Type</span>
                            <select name="build_type" id="build_type" >
                                <option disabled selected>Select</option>
                                <option>Residential buildings/Apartments</option>
                                <option>Commercial buildings</option>
                                <option>Single-family detached house</option>
                                <option>Bungalow </option>
                            </select>
                        </div>
                        <div class="input-field">
                            <span>Budget</span>
                            <input type="number" placeholder="Budget" name="budget" id="budget" >
                        </div>
                        <div class="input-field">
                            <span for="options">Rooms</span>
                            <input type="number" placeholder="Rooms" name="room" id="room" >
                        </div>
                        <button class="nextBtn">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                        
                        <!-- <button class="nextBtn1"> -->
                        
                    </div>
                </div>


            </div>
        </form>        
    </div>


    <script src="/js/gallery.js"></script>


</body>

</html>