{% extends 'builderdash.html' %}
{% block content %}
    <div class="main-content">
        <header>
            <h2>
                 Dashboard
            </h2>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="search here" />
            </div>
            <div class="user-wrapper">
                <a href="{{ url_for('builderprofile', id = id)}}">
                    <img src="/static/images/{{ image }}" width="65px" height="65px" alt="">
                </a>
                    <div>
                        <a href="{{ url_for('builderprofile', id = id)}}">
                        <h2>{{name}}</h2>
                        <small>{{comp}}</small></a>
                    </div>
            </a>
            </div>

        </header>
        <main>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1>
                            {{countu}}
                        </h1>
                        <span>Customer</span>
                    </div>
                    <div>
                        <span class="las la-users"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>
                            {{countp}}
                        </h1>
                        <span>projects</span>
                    </div>
                    <div>
                        <span class="las la-clipboard"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>
                            {{order}}
                        </h1>
                        <span>Order</span>
                    </div>
                    <div>
                        <span class="las la-shopping-bag"></span>
                    </div>
                </div>
            </div>

            <div class="recent-grid">
                <div class="projects">
                    <div class="card">
                        <div class="card-header">
                            <h3>Recent Projects</h3>
                            <a href="{{ url_for('showproject', id=id) }}">
                            <button>See all <span class="las la-arrow-right"></span></button></a>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <td>Project Title</td>
                                            <td>Location</td>
                                            <td>status</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for project in data: %}
                                        <tr>
                                            <td>{{ project[0] }}</td>
                                            <td>{{ project[1] }}</td>
                                            <td>
                                                {% if project[2] == 'completed' %}<span class="status purple"></span>
                                                {% else %}<span class="status pink"></span>{% endif %}
                                                {{project[2]}}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="customers">
                    <div class="card">
                        <div class="card-header">
                            <h3>New customer</h3>
                            <a href="{{ url_for('showuser', id=id) }}">
                            <button>See all <span class="las la-arrow-right"></span></button></a>
                        </div>
                        <div class="card-body">
                            {% for user in user: %}
                            <div class="customer">
                                <div class="info">
                                    <img src="/static/images/{{ user[3] }}" width="40px" height="40px" alt="">
                                    <div>

                                        <h4>{{user[1]}}</h4>
                                        <small>{{user[2]}}</small>

                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-comment"></span>
                                </div>

                            </div>
                            {% endfor %}
                            <!-- <div class="customer">
                                <div class="info">
                                    <img src="/static/img18.jpg" width="40px" height="40px" alt="">
                                    <div>

                                        <h4>Safeer</h4>
                                        <small>Tirunelveli</small>

                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="las la-comment"></span>
                                    <span class="las la-phone"></span>
                                </div>

                            </div>
                            <div class="customer">
                                <div class="info">
                                    <img src="/static/img18.jpg" width="40px" height="40px" alt="">
                                    <div>

                                        <h4>Jeffery</h4>
                                        <small>KTC Nagar</small>

                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="las la-comment"></span>
                                    <span class="las la-phone"></span>
                                </div>

                            </div>
                            <div class="customer">
                                <div class="info">
                                    <img src="/static/img18.jpg" width="40px" height="40px" alt="">
                                    <div>

                                        <h4>Aadhi</h4>
                                        <small>Tirunelveli Town</small>

                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="las la-comment"></span>
                                    <span class="las la-phone"></span>
                                </div>

                            </div> -->

                        </div>
                    </div>
                </div>
        </main>
    </div>
    {% endblock %}