{% extends 'userdash.html' %}
{% block content %}
<div class="main-content">
    <header>
        <h2>
            Dashboard
        </h2>
        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="search here" />
        </div>
        <div class="user-wrapper">
            <img src="/static/images/{{ image }}" width="65px" height="65px" alt="">
            <div>
                <h2>{{name}}</h2>
                <small>{{location}}</small>
            </div>
        </div>

    </header>
    
<div class="content">
    <div class="card">
        <div class="firstinfo"><img src="/static/images/{{ image }}" />
            <div class="profileinfo">
                <h1>{{name}}</h1>
                <h3>{{location}}</h3>
                <p class="bio">{{companyname}}</p>
                <a class="text1" href=" ">View Profile</a>
            </div>
        </div>
        
    </div>
    
</div>
</div>

{% endblock %}
