{% extends 'userdash.html' %}
{% block content %}
<div class="main-content">
    <header>
        <h2>
            Dashboard
        </h2>
        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="search here" />
        </div>
        <div class="user-wrapper">
            <a href="{{ url_for('userprofile', id = id)}}">
                <img src="/static/images/{{ image }}" width="65px" height="65px" alt="">
            </a>
            <div>
                <a href="{{ url_for('userprofile', id = id)}}">
                    <h2>{{name}}</h2>
                    <small>{{location}}</small>
                </a>
            </div>
        </div>

    </header>
    {% for row in data %}
    <div class="content1">
        <div class="card1">
            <div class="firstinfo"><img src="/static/images/{{ row[4] }}" />
                <div class="profileinfo">
                    <h1>{{row[1]}}</h1>
                    <h3>{{row[2]}}</h3>
                    <h3 class="bio">{{ row[3] }}</h3>
                    <a class="text1" href=" ">View Profile</a>
                </div>
            </div>

        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}