<!DOCTYPE html>
<html>

<head>
    <title>Flask Email Template</title>
    <link rel="stylesheet" href="/static/otpemail.css">
</head>

<body>
    <div class="container">
        <div >
            <img class="logo" src="/static/logo1.png" alt="Logo">
            <h1 class="title">FUTURE HAUS</h1>
        </div>

        <p class="content">Hello {{ name }},</p>
        <p class="content">The OTP for Resetting The Password is {{otp}}.</p>
        <br><br>
        <p class="content">Best regards,</p>
        <p class="content">Future Haus Team</p>
        <!-- <a class="button" href="#">Go to Home</a> -->
        <!-- <a class="button" href="/login">Go to Login</a> -->
    </div>
</body>

</html>