<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/logo1.png" type="image/x-icon">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/static/navprof.css">
    <link rel="stylesheet" href="/static/userd.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b949337282.js" crossorigin="anonymous"></script>
    <title>Projects</title>
</head>
<body>
    <div class="icon arrow"><a href="{{ url_for('builderdash', id=id) }}"><i
        class="fas fa-arrow-left"></i></a>
        Projects
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Project Title</td>
                        <td>Location</td>
                        <td>status</td>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project: %}
                    <tr>
                        <td>{{ project.build_type }}</td>
                        <td>{{ project.location }}</td>
                        <td>
                            {% if project.status == 'completed' %}<span class="status purple"></span>
                            {% else %}<span class="status pink"></span>{% endif %}
                            {{project.status}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>