{% extends 'builderdash.html' %}
{% block content %}
<div class="customers" style="padding: 50px 50px 0px 250px;">
    <div class="card">
        <div class="icon arrow"><a
                href="{{ url_for('builderdash', id=id) }}"><i class="fas fa-arrow-left"></i></a>
            Projects
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Project Title</td>
                            <td>Location</td>
                            <td>status</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project: %}
                        <tr>
                            <td>{{ project.build_type }}</td>
                            <td>{{ project.location }}</td>
                            <td>
                                {% if project.status == 'completed' %}<span class="status purple"></span>
                                {% else %}<span class="status pink"></span>{% endif %}
                                {{project.status}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}