{% extends 'userdash.html' %}
{% block content %}
<style>
    .wrapper {
        background-color: aliceblue;
    }
</style>
<div class="wrapper">
    <table>

        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Location</th>
            <th>Phone Number</th>
            <th>Permission</th>
            <th>Timeline</th>
            <th>Square Feet</th>
            <th>Building Type</th>
            <th>Budget</th>
            <th>Wood</th>
            <th>Rooms</th>
            <th>Additional</th>
            <th>Status</th>
        </thead>

        <tbody>
            {% if acc %}
            {% for data in acc: %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.location }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.approval_status }}</td>
                <td>{{ data.timeline }}</td>
                <td>{{ data.sqft }}</td>
                <td>{{ data.build_type }}</td>
                <td>{{ data.budget }}</td>
                <td>{{ data.wood }}</td>
                <td>{{ data.room }}</td>
                <td>{{ data.additional }}</td>
                <td><a href="{{ url_for('assigned', id=id) }}">
                    {{ data.status }}
                </a></td>

            </tr>
            {% endfor %}
            {% else %}
            <span>
                <h4>{{msg}}</h4>
            </span>
            {% endif %}
        </tbody>


</div>
{% endblock %}