{% extends 'userdash.html' %}
{% block content %}

<!-- css in builderbit -->
<div class="buildertable">
    
    <table class="bittable">

        <thead>
            <th class="bitrow">ID</th>
            <th class="bitrow">Name</th>
            <th class="bitrow">Email</th>
            <th class="bitrow">Location</th>
            <th class="bitrow">Phone Number</th>
            <th class="bitrow">Timeline</th>
            <th class="bitrow">Land size</th>
            <th class="bitrow">Building Type</th>
            <th class="bitrow">Budget</th>
            <th class="bitrow">Rooms</th>
            <th class="bitrow">Requirements</th>


        </thead>

        <tbody>
            {% for row in acc: %}
            <tr>
                <td class="bitrow">{{ row.id }}</td>
                <td class="bitrow">{{ row.name }}</td>
                <td class="bitrow">{{ row.email}}</td>
                <td class="bitrow">{{ row.phone }}</td>
                <td class="bitrow">{{ row.timeline}}</td>
                <td class="bitrow">{{ row.location}}</td>
                <td class="bitrow">{{ row.sqft}}</td>
                <td class="bitrow">{{ row.build_type}}</td>
                <td class="bitrow">{{ row.budget}}</td>
                <td class="bitrow">{{ row.room}}</td>
                <td class="bitrow"> <a class="bitrow" href="../checkbid/{{ id }}/{{ row.id }}" style="border: none;"> See All </a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}