{% extends 'userdash.html' %}
{% block content %}
{% if data %}
<div class="wrapper2">
    <div class="gallery" id="imageview">
        {% for row in data %}
        <div class="image"><span><img src="/static/image/{{ row[5] }}" alt="image" width="50" height="50"></span>
        </div>
        <ul class="text21">
            <li>Building Type : {{ row[2] }}</li>
            <li>Square Feet :{{ row[1] }}</li>
            <li>Rooms : {{ row[4] }}</li>
            <li>Budget : {{ row[3] }}</li>
            <li>Location : {{ row[0] }}</li>
        </ul>
        {% endfor %}
    </div>
    {% else %}
    <span>
        <h4>{{msg}}</h4>
    </span>
    {% endif %}
</div>

{% endblock %}