{% extends 'userdash.html' %}
{% block content %}
<style>
    .title1{
        font-size: 18px;
    }
    
    .title2{
        font-size: 15px;
        font-style: normal;
    }
</style>
<center>
<div class="popup1" style="left: 15px;">
    <div class="popup2">
        <span class="req">Requirement form</span>
    </div>
    <div class="subform">
        <div class="subform1">
            <div class="note1">
                <h4 class="title1">Name: </h4>
                <h4 class="title2">{{acc1[2]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Email: </h4>
                <h4 class="title2">{{acc1[3]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Location: </h4>
                <h4 class="title2">{{acc1[4]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Mobile Number: </h4>
                <h4 class="title2">{{acc1[5]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Address: </h4>
                <h4 class="title2">{{acc1[6]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Approval: </h4>
                <h4 class="title2">{{acc1[7]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Timeline: </h4>
                <h4 class="title2">{{acc1[8]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Land size in squarefeet: </h4>
                <h4 class="title2">{{acc1[9]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Budget: </h4>
                <h4 class="title2">{{acc1[10]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Building Type: </h4>
                <h4 class="title2">{{acc1[11]}}</h4>
            </div>
            <span style="size: 5px;">{{msg}}</span>
        </div>
        <div class="subform2">
            <div class="note1">
                <h4 class="title1">Rooms Count: </h4>
                <h4 class="title2">{{acc1[12]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Bricks: </h4>
                <h4 class="title2">{{acc1[13]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Steel: </h4>
                <h4 class="title2">{{acc1[14]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Cement: </h4>
                <h4 class="title2">{{acc1[15]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Sand: </h4>
                <h4 class="title2">{{acc1[16]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Wood: </h4>
                <h4 class="title2">{{acc1[17]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Plumbing: </h4>
                <h4 class="title2">{{acc1[18]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Wires: </h4>
                <h4 class="title2">{{acc1[19]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Flooring: </h4>
                <h4 class="title2">{{acc1[20]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Sanitary Items: </h4>
                <h4 class="title2">{{acc1[21]}}</h4>
            </div>
            <div class="note1">
                <h4 class="title1">Paint: </h4>
                <h4 class="title2">{{acc1[22]}}</h4>
            </div>

        </div>
    </div>
</div>
</center>
{% endblock %}