<!DOCTYPE html>
<html>

<head>
    <title>Builder Profile</title>
    <link rel="stylesheet" type="text/css" href="/static/viewprof.css">
    <script type="text/javascript" src="script.js"></script>
</head>

<body>
    {%include 'userdash.html'%}
    <div class="buildprof">
        <center>
            
                <h3 class="head">Builder Profile</h3>
           
            <div class="profile">
                <img  src="/static/images/{{ photo }}" alt="Profile Picture" id="profile-picture">
                    <div class="text-data">
                        <span class="name">Name: {{builder[1]}}</span>
                        <span class="name">Email: {{builder[2]}}</span>
                        <span class="name">Phone: {{builder[8]}}</span>
                        <span class="name">Location: {{builder[7]}}</span>
                        <span class="name">Company Name : {{builder[5]}}</span>
                    </div>
            </div>
                
            
        </center>
        <br><br><br><br>

        <div class="posts">
            <center>
                <h3>Projects</h3>
            </center>
            {% if data%}
            {% for project in data:%}
            <div class="post">
                <img src="/static/image/{{ project[5] }}" alt="Post">
                <ul>
                    <li>
                        <p>Building Type : {{ project[2] }}</p>
                    </li>
                    <li>
                        <p>Square Feet : {{ project[1] }}</p>
                    </li>
                    <li>
                        <p>Budget : {{project[3]}}</p>
                    </li>
                    <li>
                        <p>Rooms : {{project[4]}}</p>
                    </li>
                    <li>
                        <p>Location : {{project[0]}}</p>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <span>
            <center>
                <h4>No Projects Uploaded</h4>
            </center>
        </span>
        {% endif %}
    </div>
    </div>

</body>

</html>